.icon {
  cursor: pointer;
  transition: all 250ms;
}

.icon svg {
  transition: all 250ms;
}

.icon--rounded {
  border-radius: 50%;
}

.icon--rounded:hover {
  background: #ddd;
}

.icon--rounded:hover svg {
  stroke: #666;
}
